.first {
    padding: 0em 1em 0em 1em;
    text-align: center;
}

div {
    background-color: #f5f5f0;
    display: block;
    width: 35%;
    height: 5%;
    padding: 1em;
    box-shadow: 2px 0px 0px black;
    font-family: sans-serif;
    font-size: 18px;
}

#content:hover, #start-content:hover {
    background-color:#e0e0d1;
    padding: 1em;
    cursor: pointer;
}

#start-content:hover {
    color: black;

}

#start-content {
    background-color: #ffc107;
    padding: 1em;
    color: white;
}